body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 24px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.tabs {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #333333
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 30px;
	background-color: #FFFFFF;
	color: #FFFFFF;
	}

.title_home {
text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
	line-height: 30px;
  background-color: #006666;
	color: #DCDCDC;
}


.title_reports {
text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #608DFF;
	color: #000000;
}

.title_account {
text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
	line-height: 30px;
  background-color: #99CC33;
	color: #FFFFFF;
}

.title_settings {
text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #B93B00;
	color: #FFFFFF;
	text-decoration: none;
}

.title_services {
text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #FFB222;
	color: #000033;
}

.title_content {
text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #E9ECEE;
	color: #333333;
}
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
  color: #006666;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	background-color: #006666;
  color: #DCDCDC;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
	background-color: #CCCCCC;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFFFF;
}

.sidebarHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #339999;
}

.sidebarFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #CCCCCC;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCCCCC;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
  background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666; 
	font-weight: bolder;
	font-size: medium;
}
a {
text-decoration: none;

}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}
.summaryBox 
{
	color: #000;	
	background-image: url(../images/left_tab_sum.gif);
	padding-left: 8px;
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 12px;
	font-weight: bold;
}

 .summaryBox div
{ text-decoration: none;
	padding-right: 10px;
	background-image: url(../images/right_tab_sum.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.titleBox 
{
	color: #000;
	background-image: url(../images/_rounded_rectangle_r1_c1.gif);
	padding-left: 8px;
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 12px;
	font-weight: bold;
	height: 50px;
}

 .titleBox div
{
	text-decoration: none;
	padding-right: 10px;
	background-image: url(../images/_rounded_rectangle_r1_c2.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 50px;
} 
 
 
#boxheader{

}

#navigation a
{
	color: #000;	
	background-image: url(left_tab.gif);
	padding-left: 8px;
	background-image: url(left_tab.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 12px;
	font-weight: bold;
}

#navigation a span
{ text-decoration: none;
	padding-right: 10px;
	background-image: url(right_tab.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

 /* Hide from IE5-Mac \*/
#navigation a, #navigation a span
{
float: none
}
/* End hide */

#navigation a:hover
{
	color: #000;
	text-decoration: none;
	padding-left: 8px;
	background-image: url(left_tab.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 12px;
	font-weight: bold;

}

#navigation a:hover span
{
    padding-right: 10px;
	background-image: url(right_tab.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	
	}


#navigation a, #navigation a span
{
display: block;
float: left
}

/* Hide from IE5-Mac \*/
#navigation a, #navigation a span
{
float: none
}
/* End hide */



#navigation ul
{
list-style: none;
padding: 0;
margin: 0
}

#navigation li
{
float: left;
margin: 0;
} 

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 200px;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: square;
	list-style-position: outside;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: decimal;
	list-style-position: outside;
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.bodystyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.box1 {
	padding: 3px;
	border-style: solid;
	border-color: #CCCCCC;
}

.box2 {
	border-width: 3px;
	border-style: solid;
	padding: 5px;
}
