<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
    <servlet>
        <servlet-name>RMCSServices</servlet-name>
        <servlet-class>com.rancard.mobility.contentserver.serviceinterfaces.RMCSServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RMCSServices</servlet-name>
        <url-pattern>/rmcsservices</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UTVFilter</servlet-name>
        <servlet-class>com.rancard.mobility.contentserver.filters.UTVFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UTVFilter</servlet-name>
        <url-pattern>/utv</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>UTVFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.UTVFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTVFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>StopFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.StopFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StopFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>HelpFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.HelpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HelpFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>InviteFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.InviteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>InviteFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>BabyMamaFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.BabyMamaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BabyMamaFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
</web-app>
