<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>WorldCup</servlet-name>
        <servlet-class>com.rancard.mobility.contentserver.filters.WorldCupFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorldCup</servlet-name>
        <url-pattern>/worldcup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RMCSServices</servlet-name>
        <servlet-class>com.rancard.mobility.contentserver.serviceinterfaces.RMCSServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RMCSServices</servlet-name>
        <url-pattern>/rmcsservices</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>WorldCupFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.WorldCupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WorldCupFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>StopFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.StopFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StopFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>HelpFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.HelpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HelpFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>InviteFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.InviteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>InviteFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>BabyMamaFilter</filter-name>
        <filter-class>com.rancard.mobility.contentserver.filters.BabyMamaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BabyMamaFilter</filter-name>
        <servlet-name>RMCSServices</servlet-name>
    </filter-mapping>
</web-app>