<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>CikaNET Administration Console is a web-based visual administrative tool for configuring, administering and monitoring the CikaNET RTEMS Server.</description>
    <display-name>CikaNET Admin Console</display-name>
    <servlet>
        <servlet-name>consoleinit</servlet-name>
        <servlet-class>com.cikanet.admin.server.config.ServerInit</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetParams</servlet-name>
        <servlet-class>GetParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlHttpProxy</servlet-name>
        <servlet-class>jmaki.xhp.XmlHttpProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>consoleinit</servlet-name>
        <url-pattern>/consoleinit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetParams</servlet-name>
        <url-pattern>/GetParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlHttpProxy</servlet-name>
        <url-pattern>/xhp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
